<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration xmlns="http://opticaline.org"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://opticaline.org config.xsd">
    <login>
        <public ip="221.179.140.186" username="root" password="UARbj#2014" port="33021"/>
        <forwards>
            <forward ip="10.176.136.11" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.12" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.13" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.14" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.15" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.16" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.17" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.18" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.19" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.20" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.21" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.22" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.23" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.24" username="root" password="#cmccnsn@uar#2014"/>
            <forward ip="10.176.136.25" username="root" password="#cmccnsn@uar#2014"/>
        </forwards>
    </login>
    <missions>
        <mission
                command="find /home/data/gnbak/http /home/data/gn/xdr/http -type f -name '*201409281[3|4]*.dat' > /tmp/http"/>
        <mission command="scp /tmp/http 10.136.172.112:~/test/{length}" password="UARbj#2014"/>
    </missions>
</configuration>